.grid-body {
  display: grid;
  justify-content: center;
  grid-template-columns: 82% 15%;
  grid-template-rows: auto auto auto; 
  grid-template-areas: 
      "header header"
      "section-contacto aside-links"
      "section-oficinas section-oficinas"
      "footer footer";
  grid-gap: 0.5rem;
  max-width: var(--container-max-width);
}

.grid-header { 
  grid-area: header; 
}

.grid-section-contacto { 
  grid-area: section-contacto;
}

.grid-oficinas { 
  grid-area: section-oficinas;
}

.grid-aside-links { 
  grid-area: aside-links;
  display: flex;
}

.grid-footer { 
  grid-area: footer;
}