.grid-body {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto; 
  grid-template-areas: 
    "header"
    "section-contacto"
    "section-oficinas"
    "aside-links"
    "footer";
  grid-gap: 0.5rem;
  max-width: var(--container-max-width);
}

.grid-header { 
  grid-area: header; 
}

.grid-section-contacto { 
  grid-area: section-contacto;
}

.grid-oficinas { 
  grid-area: section-oficinas;
}

.grid-aside-links { 
  grid-area: aside-links;
}

.grid-footer { 
  grid-area: footer;
}

@media (min-width: 856px) {

  .grid-body {
    justify-content: center;
    grid-gap: 0.5rem;
    max-width: var(--container-max-width);
    grid-template-columns: 85% 15%;
    grid-template-rows: auto auto auto; 
    grid-template-areas: 
      "header header"
      "section-contacto aside-links"
      "section-oficinas section-oficinas"
      "footer footer";
  }

  .grid-aside-links { 
    display: flex;
  }
  
}