:root{
    /*
    color: #2357ad;
    color: #2982c1;
    color: #29aeca;
    color: #44cbcb;
    color: #d7eaea;
    */
    --color-background-body:#d7eaea;
    --color-background-header:#2982c1;
    --color-background-section-contacto: #44cbcb;
    --color-text: white;
    --color-primary-highlight: #44cbcb;
    --container-max-width: 1024px;

    --logo-initial-position: 0rem;
    --logo-final-position: 3rem;
}

@keyframes zoom {
    0% {
        transform: scale(1);
        text-shadow:
        0 1rem 0.25rem var(--color-primary-highlight),
        0.5rem 0rem 1rem var(--color-primary-highlight);
    }
    
    50%{
        color: #2982c1;
        text-shadow: none;
    }

    100%{
        transform: scale(1.3);
        text-shadow:
        0 1rem 0.25rem var(--color-primary-highlight),
        0.5rem 0rem 1rem var(--color-primary-highlight);
    }
  }

  @keyframes levitate {
    0% {
        top: var(--logo-initial-position);
        transform: rotate(10deg);
    }
    
    50%{
        top: var(calc(--logo-final-position/2));
        transform: rotate(-10deg);
    }

    100%{
        top: var(--logo-final-position);
        transform: rotate(0deg);
    }
  }

.body{
    font-family: 'Oswald', sans-serif;
    min-height: 150vh; /*barra desplazamiento*/
    background-color: var(--color-background-body);
}

.header-container{
    background-color: var(--color-background-header);
    display: flex;
    align-items: center;
    justify-content:space-around;
    max-width: var(--container-max-width);
    margin: auto;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    overflow: hidden;
    
    /*testeando*/
    position: relative;
    height: 9rem;
    /************/
}

.header-image-container{
    /*testeando*/
    position: absolute;
    top: var(--logo-initial-position);
    /************/
    
    height: 4rem;
    border-radius: 10%;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 
        0.20rem 0.20rem 0rem 0.20rem var(--color-primary-highlight);

    animation: levitate 1.5s ease-in-out 2s infinite alternate;
}

.header-image-container:hover{
    height: 4.5rem;
    cursor: pointer;
    rotate: 360deg;
}

.header__h1{
    text-align: center;
    margin: 0;
    font-size: 2rem;
    color:var(--color-text);
    animation: zoom 1.5s ease-in-out 2s infinite alternate;
    padding: 0.5rem 0.5rem;

    /*testeando*/
    position: absolute;
    top: 5rem;
}

.header__image{
    width: 100%;
    height: 100%;
}

.header-menu{
    margin-top: 0.5rem;
    padding: 0;
    position: relative;
}

.header-menu-container{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: var(--color-background-header);
    z-index: 1000;
}

.header-menu__icon-label{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0.55rem;
    top: 0.55rem;
    height: 2rem;
    z-index: 1001;
    font-size: 2rem;
    color:var(--color-text);
    border: 2px solid;
    border-radius: 10%;
}

.header-menu__menu-check{
    display: none;
}

.header-menu__list{
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-background-header);
    opacity: 80%;
    gap: 2rem;
}

.header-menu__list-item{
    list-style: none;
    margin:0 0.7rem;
    font-size: 1.5rem;
}

.header-menu__list-item-nav{
    text-decoration: none;
    color:var(--color-text);
}

.header-menu__icon-label:hover{
    border: 4px solid;
}

.header-menu__menu-check:checked + .header-menu__list {
    display: flex;
    height: 100vh;
}

.section-contacto__h2{
    font-size: 1.5rem;
    color:var(--color-text);
    padding: 0.5rem 0rem;
}

.section-contacto_container{
    max-width: var(--container-max-width);
    background-color: var(--color-background-section-contacto);
    margin: auto;
    border-radius: 0.5rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.section-contacto__label{
    display:inline-flex;
    font-size: 1.1rem;
    color:var(--color-text);
    width: 150px;
}

.section-contacto__input{
    width: 320px;
    border-style: none;
    height: 27px;
}

.section-contacto__button-acept{
    position: relative;
    width: 250px;
    height: 35px;
    left: 20%;
    margin: 1rem 1rem;
    border-color: #29aeca;
    border-width: 3px;
}

.section-oficinas__container{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    justify-content:space-around;
    max-width: var(--container-max-width);
}

.section-oficinas__h2{
    margin: 0;
    font-size: 1.5rem;
    color:var(--color-text);
}

.section-oficinas-table{
    table-layout:fixed;
    padding: 0.25rem 0.25rem;
}

.section-oficinas-table-header{
    color: var(--color-text);
    background-color: var(--color-background-header);
    border: 1px solid var(--color-background-header);
    width: 300px;
    word-wrap: break-word;
}

.section-oficinas-table-row:nth-child(2n+1){
    color: var(--color-text);
    background-color: #44cbcb;
}

.section-oficinas-table-row:nth-child(2n){
    color: var(--color-text);
    background-color: #29aeca;
}

.section-oficinas-table-td{
    border: 1px solid var(--color-background-header);
    word-wrap: break-word;
}

@media (min-width: 856px) {
    .header-container{
        background-color: var(--color-background-header);
        display: flex;
        align-items: center;
        justify-content:space-around;
        max-width: var(--container-max-width);
        margin: auto;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .header-menu__list{
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        align-items: center;
        gap: 0;
        opacity: 100%;
    }

    .header-menu-container{
        position: static;
        display: flex;
        opacity: 100%;
        width: 100%;
        max-width: var(--container-max-width);
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
    }
 
    .header-menu__icon-label{
        display: none;
    }
    
}